
#block-randy-account-menu,
#block-randy-branding,
#block-randy-main-menu,
#block-randy-page-title,
#block-randy-local-tasks{
	display:none;
}


/* global rules */
html{
	background-color:$color_background;
	color:$color_text;
	height:100%;
}
body{
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height:120%;
  min-height:100%;
  position:relative;
  overflow-x:hidden;
  padding:0;
  margin:0;
}
body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}
#content{
	padding: 0px 0 0px 0;
	@media only screen and (max-width: 400px) {
		padding-top:57px;
	}
	overflow-x:hidden;
}
section{
	padding-right:10px;
	padding-left:10px;
}

a{
  color: #00B7FF;
}
em{
	color:inherit;
}
section{
  padding:0;
}
.relative{
	position:relative;
}

.content-wrapper{
  max-width:1280px;
  padding:0 10px;
  margin:0 auto;
}

.cta{
	display: inline-block;
    text-align: center;
    cursor: pointer;
    width: auto;
    min-width: 200px;
    max-width:100%;
    background-color: #0096D6;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    padding: 15px 20px;
    margin-right:10px;
    margin-bottom:10px;
    text-decoration:none;
    &:hover{
    	text-decoration: none;
	    filter: alpha(opacity=80);
	    -moz-opacity: 0.8;
	    opacity: 0.8;
	    background-color: #117EAD;
    	border-color: #117EAD;
    	color:#ffffff;
    }
}
.cta-secondary{
	background-color:#ffffff;
	color:#0096D6;
	&:hover{
		background-color:#ffffff;
		color:#0096D6;
	}
}

.uk-button{
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    background-color: transparent;
    display: inline-block;
    color: #0099d6;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    color: #fff;
    background-color: #0099dd;
    &:hover{
    	background-color: #117EAD;
   		border-color: #117EAD;
   		color:white;
    }
}

.border{
	display: block;
    width: 80px;
    height: 2px;
    background: #060606;
    margin: 0 auto;
}




/* body */


/* wysiwyg */




/* Paragraphs */
.generic-html{
	padding:20px 0;
	max-width:800px;
	margin:0 auto;
	.title{
		text-align:center;
		font-weight:700;
		font-size:150%;
		padding-bottom:20px;
	}
	.wysiwyg{
		text-align:left;
		max-width:$preferred_text_width;
		margin:0 auto;
		ul{
			
		}
	}
}

