
/* variables */
$color_background: #FFFFFF;
$color_text: #000000;
$color_text_reverse:#FFFFFF;
$color_links: #0096D6;
$color_light: #333333;

$footer_height:50px;
$header_footer_padding: 10px 10px;
$max_width:1400px;

$preferred_text_width: 614px;

$color_links: #7C9984;
$color_links_light: #8eb8e5;
$color_primary:#6b7f82;
$color_secondary:#5b5750;
$color_tertiar:#492c1d;


$image_root: '/themes/randy/images/';

